* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

:root {
  font-size: 62.5%;
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-heading-sm: clamp(1rem, 0.5rem + 2vw, 2.5rem);
}

body {
  font-family: 'Staatliches', cursive;
}

header {
  padding-top: 3.8rem;
  background: #8e9aaf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 21.4rem;
  height: 16.7rem;
}

h1 {
  font-size: var(--fs-heading);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background: #cbc0d3;
  width: 100%;
  text-align: center;
  margin: 3.2rem 2.7rem;
  padding: 0.8rem 8.7rem;
}

main {
  padding: 3.8rem 3.2rem;
  background: #eff1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: 'Palanquin', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 15px;
  text-align: center;
  color: #23053a;
  max-width: 29.6rem;
  margin-bottom: 6.2rem;
}

div {
  position: relative;
  margin-bottom: 3.2rem;
  animation: downtop 700ms;
}

div img {
  transition: all 700ms;
  filter: brightness(0.8);
}

div img:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

h2 {
  position: absolute;
  top: 1.7rem;
  right: 1.6rem;
  color: #4a4e69;
  font-weight: 400;
  font-size: 2rem;
  line-height: 34px;
  letter-spacing: 0.05em;
  background: #feeafa;
  border-radius: 20px;
  padding: 0.3rem 2.3rem;
  animation: topdown 1.5s;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 700px) {
  p {
    font-size: var(--fs-heading-sm);
    line-height: 2rem;
    max-width: 55rem;
  }

  section {
    display: grid;
    column-gap: 3rem;
    grid-template-rows: 30%;
    grid-template-areas: 'A B B' 'D C C';
  }

  div:nth-child(1) {
    grid-area: A;
  }

  div:nth-child(2) {
    grid-area: B;
  }

  div:nth-child(3) {
    grid-area: C;
    align-self: center;
  }

  div:nth-child(4) {
    grid-area: D;
  }
}
